doctype html 
html
    head  
        title Jordar Dance Academy
        block script 
        block style 
          script(src="/jquery.js")
    body 
        nav#navbar 
            ul
                div#logo 
                    img(src="static/dance2.png" )
                li #[a(href='/') Home ]
                li #[a(href='/') About] 
                li #[a(href='/') Services]
                li #[a(href='/') Class Info] 
                li #[a(href='/contact') Contacts] 

        block content
        footer#footer 
            | our footer here